<!-- views/partials/footer.ejs -->

<footer class="bg-dark text-center text-white text-lg-start navbar-static-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright: Ho Thi Nhu Ngoc 17PFIEV2
    </div>
</footer>